/* Add these rules to your existing blog.css file */

.blog {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 5% 15%;

}

.blog img {
    width: 100%;

}

.blog__post {
    flex: 1 1 70%;
    max-width: 600px;
}

.blog__sidebar {
    flex: 1 1 25%;
    min-width: 100px;
}

.blog__sidebar-section {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.blog__sidebar-section h4 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.blog__sidebar-section ul {
    list-style-type: none;
    padding: 0;
}

.blog__sidebar-section li {
    margin-bottom: 5px;
}

@media (max-width: 900) {
    .blog__post,{
    	padding: 6%;
    }
    .blog__sidebar {
        flex: 1 1 100%;
    }
}